*{
	box-sizing: border-box;
}

h1{
	text-align: center;
}

div{
	border: solid;
	border-width: 1px;
	margin: 2px;
	width: 100%;
}

span{
	margin: 0;
	border: solid;
	border-right: transparent;
	border-top: transparent;
	display: inline;
	text-align: right;
	padding-left: 5%;
	padding-right: 5%;
	border-width: 1px;
	float: right;
}

p{
	text-align: left;
	margin: 2%;
	margin-bottom: 2px;
	padding-top: 10px;
	padding-bottom: 0px;
	/*width: auto;*/
}

/********** set topic title bg **********/
#chicken{
	background-color: pink;
}
#beef{
	background-color: red;
}
#sushi{
	background-color: yellow;
}

/********** set div bg **********/
.bg{
	background-color: lightgray;
}

/********** set outer container border **********/
.row{
	border: none;
}
/********** Desktop devices **********/
@media (min-width: 992px) {
	.desktop{
		height: 150px;
		margin: 5px;
		margin-bottom: 2px;
		width:  32%;
    	float:left;
	}
}

/********** Tablet devices **********/
@media (min-width: 768px) and (max-width: 991px){
	.row{
		width: 100%;
	}
	.col{
		float: left;
	}

	.half1{
		height: auto;
		float: left;
		width: 49.25%;
	}
	.half2{
		height: auto;
		float: right;
		width: 49.25%;
	}
	.col.full{
		width: 99.8%;
	
}




